@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: normal;
                 font-style: normal;
             }

* {
    font-family: "Montserrat", serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header {
    background-color: #222831;
    color: #f2f2f2;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    line-height: 0.1vh;
}

header > h1 {
    font-size: 50px;
}

header > p {
    font-size: 30px;
}

header > h1 > span {
    color: #f96d00;
}
/* HEADER */